{% extends 'base.html' %}

<!--  -->

{% block content %} 

    <div
      class="grid_container flex-col-center"
      style="width: fit-content;"
      draggable="false"
    >
      <div
        class="canvas shadows_big"
        id="scrolling_canvas"
        draggable="false"
        onmouseleave={{handleMouseLeave}}
      >
        <div class="grid_box" id="grid" draggable="false">
          <div class="up_down" draggable="false">
            {top_count_div}

            <div class="left_right" draggable="false">
              {left_count_div}

              <div
                draggable="false"
                class="grid_display"
                id="pix_grid"
                style="--num-cols: {{ dims.width }}"
                onmousedown={{handleMouseDown}}
              >
              {% for ind, pixel in pixels %}
                  <div
                    draggable="false"
                    key="{{ ind }}"
                    id="{{ ind }}"
                    class="pix"
                    style="background-color: rgb({{ pixel.r }}, {{ pixel.g }}, {{ pixel.b }});"
                    onclick="paint({{ ind }})"
                    onmousemove="brush_erase_mouse(event, {{ ind }})"
                    ontouchmove="brush_erase_touch(event, {{ ind }})"
                    title="{{ ind }}"
                ></div>
                    <!-- onTouchEnd={ ()=> set_display_pixel_data({...display_pixel_data, data: [...latest_img.value]})} -->

              {% endfor %}
              </div>
              {right_count_div}
            </div>
            {bottom_count_div}
          </div>

          {/* Grid box */}
        </div>
      </div>

      <div
        class="flex-row-center {% if is_processed == 'Processing' %}not_loading{% endif %}"
        style="gap: 20px; margin-bottom: 20px"
      >
        <button
          class="btn bg-light-grey"
          id="reset_button"
          onClick="reset_grid"
          style="font-size: 13px"
        >
          Reset
        </button>

        <div class="flex-row-center" style="gap: 10px">
          <div class="flex-row-center">
            <label for="grid_width" style="font-size: 13px">
              Width:
            </label>
            <input
              type="text"
              id="grid_width"
              placeholder="{{ dims.width }}"
              class="text-center mx-2"
              style="width: 50px"
            ></input>
          </div>

          <div class="flex-row-center">
            <label for="grid_height" style="font-size: 13px">
              Height:
            </label>
            <input
              type="text"
              id="grid_height"
              placeholder="{{ dims.height }}"
              class="text-center mx-2"
              style="width: 50px"
            ></input>
          </div>

          <button class="btn bg-light-grey" onclick="set_dim" style="font-size: 13px">
            Submit
          </button>
        </div>
      </div>
    </div>

{% endblock %}
