:root {
  --num-cols: 20;
}

body {
  box-sizing: border-box;
  background-color: rgb(255,235, 210);
}

.bg-light-grey {
  background-color: rgb(210,210,210);
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shadows {
  box-shadow: 0px 0px 5px 4px #7E6D5766;
}

.shadows_big {
  box-shadow: 0px 0px 5px 6px #7E6D5766;

}

.tools {
  border-style: solid;
  padding: 4px;
}

.tools:hover {
  color: darkcyan;
}

.color_palette{
  display: grid;
  grid-template-columns: repeat(8, 10px);
  row-gap: 2px;
  column-gap: 13px;
}

.colors {
  border-style: solid;
  width: 15px;
  height: 15px;
}

.grid_container {
  gap: 20px;
  color: black;
}
/* grid container also has the reset, inputs and submit */
.canvas {
  display: flex;
  max-width: 700px;
  max-height: 550px;
  margin-top: 20px;
  border-radius: 20px;
  overflow: auto;
}
/* grid is within canvas */

.grid_display {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 10px);
  gap: 5px;
  column-gap: 10px;
}
/* pixel art section is the grid display */

.grid_box {
  padding: 20px;
  color: black;
  background-color: white;
}

.processing {
  opacity: 0.1;
}

/* pixel grid */

.pix {
  border-width: 2px;
  border-style: solid;
  width: 15px;
  height: 15px;
}

.pix:hover,
.highlight,
.colors:hover {
  color: red;
}


.not_loading {
  display: none;
}

.loading {
  gap: 50px;
  font-weight: bold;
  font-size: xx-large;
  text-decoration: double;
  opacity: 0.7;
  background-color: white;
}


#loading_img {
  animation: sway 6s ease-in-out infinite ;

}

@keyframes sway {
  0%, 100%{
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }

}

.count_lr {
  width: 30px;
  height: 20px;
  color: black;
  background-color: white;
  text-align: center;
}

.count_lr_em {
  /* content: ''; */
  width: 30px;
  height: 20px;
  color: black;

}

.left_right {
  display: flex;
  align-items: start;
}

.right_count,
.left_count {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
}

.count_ud {
  transform: rotate(90deg);
  width: 20px;
  color: black;
  background-color: white;
}

.up_down {
  display: flex;
  flex-direction: column;
}
.top_count,
.bottom_count {
  display: flex;
  margin-left: 49px;
}


