:root {
  --num-cols: 20;
}

#root {
  height: 100dvh;
  width: 100dvw;
}
body {
  box-sizing: border-box;
  background-color: rgba(255,235, 210,0.5);
  user-select: none;
}

.tools_colors {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.app_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  flex-grow: 0;
  margin-bottom: 0;
}
.bg-light-grey {
  background-color: rgb(210,210,210);
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shadows {
  box-shadow: 0px 0px 5px 4px #7E6D5766;
}

.shadows_big {
  box-shadow: 0px 0px 5px 6px #7E6D5766;

}

.tools {
  display: flex;
  justify-content: center;
  border-style: solid;
  padding: 4px;
  width: 40px;
  height: 40px;
}


.default_color_palette{
  display: grid;
  grid-template-columns: repeat(5, 10px);
  row-gap: 2px;
  column-gap: 13px;
}


.color_palette{
  display: grid;
  grid-template-columns: repeat(8, 10px);
  row-gap: 2px;
  column-gap: 13px;
}

.colors {
  border-style: solid;
  width: 15px;
  height: 15px;
}

.grid_container {
  gap: 20px;
  color: black;
  max-width: 70dvw;
}

/* grid container also has the reset, inputs and submit */
.canvas {
  display: flex;
  max-width: 70dvw;
  max-height: 550px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  overflow: auto;
  background-color: white;
}
/* grid is within canvas */

.grid_display {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 15px);
  gap: 5px;
  background-color: white;
}
/* pixel art section is the grid display */

.grid_box {
  padding: 20px;
  color: black;
  background-color: white;
}

.processing {
  opacity: 0.1;
}

/* pixel grid */

.pix {
  border-width: 2px;
  border-style: solid;
  width: 15px;
  height: 15px;
}

.small {
  transform: scale(0.9);
}
.highlight {
  transform: scale(1.2);
  border: 2px dashed darkcyan;
}

.not_loading {
  display: none;
}

.loading {
  gap: 50px;
  font-weight: bold;
  font-size: xx-large;
  text-decoration: double;
  opacity: 0.7;
  background-color: white;
}


#loading_img {
  animation: sway 6s ease-in-out infinite ;

}

@keyframes sway {
  0%, 100%{
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }

}

.count_lr {
  width: 30px;
  height: 20px;
  color: black;
  background-color: white;
  text-align: center;
}

.count_lr_em {
  /* content: ''; */
  width: 30px;
  height: 20px;
  color: black;
}

.left_right {
  display: flex;
  align-items: flex-start;
}

.right_count {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 17px;
  user-select: none;
}

.left_count {
  display: flex;
  flex-direction: column;
  margin-top: -3px;
  user-select: none;
}

.rotate_90 {
  transform: rotate(90deg);
}

.count_ud {
  transform: rotate(90deg);
  width: 20px;
  color: black;
  background-color: white;
}

.up_down {
  display: flex;
  flex-direction: column;
}

.top_count {
  display: flex;
  align-items: flex-end;
  position: relative;
  left: 49px;
  padding-bottom: 2px;
  padding-top: 10px;
  user-select: none;
}

.bottom_count {
  display: flex;
  position: relative;
  left: 25px;
  padding-bottom: 20px;
  user-select: none;
}

.grid_buttons,
.eraser_buttons {
  color: black;
  user-select: none;
}

@media (hover: hover) {
  .pix:hover {
    transform: scale(1.1);
  }
  .colors:hover {
    transform: scale(1.1);
  }
  .grid_buttons:hover {
    transform: scale(1.4);
    cursor: pointer;
  }
  
  .eraser_buttons:hover {
    transform: scale(1.2);
    cursor: pointer;
  }  
  
  .tools:hover {
    transform: scale(1.1);
  }
}

.navigation {
  width: 100dvw;
}

.upload {
  max-width: 70dvw;
}

.custom-cursor{
  position: absolute;
  top:0;
  left:0;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}
#cursor_img{
  width: 25px !important;
}

/* @media screen and (max-width: 710px) and (orientation: portrait) {
  #root {
    height: 100dvh;
    width: 100dvh;
  }

  body {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100dvh;
    height: 100dvw;  
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .canvas {
    display: flex;
    max-width: 70dvh;
    max-height: 550px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    overflow: auto;
    background-color: white;
  }
  
  .navigation {
    width: 100dvh;
    flex-grow: 1;
  }


  .upload {
    max-width: 70dvh;
    overflow: auto;
  }

} */