:root {
  --num-rows: 20;
}

.nav_bar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.canvas {
  display: flex;
  width: 80%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 15px 15px 15px 40px #7E6D5766;
}
.grid_display {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(var(--num-rows), 10px);
  gap: 5px;
  column-gap: 10px;
}

.pix {
  border-width: 2px;
  border-style: solid;
  width: 15px;
  height: 15px;
  background-color: rgb();
}

.pix:hover {
  color: red;
}

.pix:active {
  background-color: black;
}